@import "tailwindcss";

.nav-menu {
  position: relative;
}

.nav-menu::before {
  content: "";
  border-bottom: 88px solid #f6f6f8;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  height: 0%;
  width: 100%;
  position: absolute;
}

.shadow {
    box-shadow: 0 2px 20px 0 rgba(62, 65, 159, .09);
}